<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	<!-- auto proxy -->
	<aop:aspectj-autoproxy />
	
	<!-- 아래 3개 모두 DB관련 설정인데
	     dataSource는 하나의 jdbcConnection
	     sqlSessionFactory는 jdbcConnection들을 갖고있는 DataBaseConnectionPool
	     sqlSession은 DBCP에서 JDBC받아와서 sqlSession에서 제공하는 함수들이랑 ~.xml File을 통해 
	     쿼리 실행하고 하는 객체... 정도로 생각해도 될듯... 아마 -->
	<!-- Connection Pool DataSource-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.mariadb.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/jblog?characterEncoding=utf8" />
		<property name="username" value="jblog" />
		<property name="password" value="jblog" />
	</bean>

	<!-- MyBatis SqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/configuration.xml" />
	</bean>	
	
	<!-- MyBatis SqlSessionTemplate -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<!-- IocContainer에 Scan을 통해 등록하고 싶은 annotation과 Scan 범위를 지정 -->
	<context:annotation-config />
	<context:component-scan base-package="com.douzone.jblog.service, com.douzone.jblog.repository, com.douzone.jblog.aspect">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
	</context:component-scan>
</beans>

<!-- applicationContext에 대한 설명
	 spring-servlet.xml은 하나의 dispatcherServlet에 대한 설정 File
	 근데 만약에 dispatcherServlet이 하나가 아니라 2개고 2개의 서블릿에 필요한 공통적인 설정을 하고싶을 때 여기서 하면 된다
	 
	 즉, spring-servlet.xml은 각각의 dispatcherServlet에 대한 설정 File
	 해당 File은 IocContainer 전체에 필요한 설정 File이라고 생각해도 될듯...아마 -->